# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  srcapp:
    image: srcapp
    build:
      context: .
      dockerfile: src.app.webapi/Dockerfile
    ports:
      - 5000